<%= stylesheet_link_tag 'admin/application' %>
<%= javascript_include_tag 'admin/application' %>
<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag "style", :media => "print" %>
<%= stylesheet_link_tag "print" %>
<%= stylesheet_link_tag "print", :media => "print" %>

<style type="text/css">
  .transform_tag{
   transform: rotate(90deg);-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);padding-left: 80px;
  }
</style>

<style type="text/css" media="print">
.padding_top_80{margin-top:50px;}
.noprint{display : none }
.pageBreak{ page-break-after:always;}
</style>

<div class="ui form" style='z-index: 2;'>
<div class="ui blue segment noprint">
<h2 class="ui dividing header">标签打印设置</h2>
  <div class="two fields">
    <div class="field"><%= select_tag "tag_id", options_for_select([["4cm * 10cm",0],["6cm * 15cm",1],["9cm * 26cm",2], ["6cm * 10cm",3],["3cm * 6.5cm",4]],@tag.id), class: 'ui fluid need_dropdown dropdown' %></div>
    <div class="field "><%= select_tag "quantity", options_for_select( %w(100g  250g 500g 500ml 1kg 1L 2.5L 5kg 5L 10kg 10L).unshift(@chemical_info[:quantity]).uniq, @chemical_info[:quantity]), include_blank: "选择数量", class: 'ui search fluid dropdown J_quantity' %></div>
    <div class="field"><%= select_tag "select_tag", options_for_select([["全选",0],["反选",1],["半选",2]]), include_blank: "快速选择", class: 'ui fluid need_dropdown dropdown' %></div>
    <div class="field"><input id="btnPrint" type="button" value="打印" class="ui primary button" /></div>
  </div>
</div>
</div>

<div align="center">

   <div style="width:616px;height:<%= @tag.id == 0 ? '750px;' : '840px;'%>">
     <% if @tag.print_size >= 1 %>
       <div class= <%= @tag.id == 0 ? 'padding_top_80' : ''%> >
       <% chemical_property  = 1 %>
       <% chemical_info_warnings = 2 %>
       <% (1..@tag.print_size).each do |i|%>
          <%if i == 1 %>
            <!--首行行头!-->
            <div>
            <div id="print_<%= i %>" style="width:<%= 98/@tag.print_x_size %>%;height:<%= 105/@tag.print_y_size %>%;<%= @tag.id == 2 ? 'margin-left: 10px;' : 'margin-right: 10px;'%> float: left;">
               <%= render :partial => "print_#{@tag.tag_type_y}_#{@tag.tag_type_x}" , :locals => { :i => i,:chemical => @chemical,:chemical_property => chemical_property,:chemical_info_warnings => chemical_info_warnings }%>
               <div style="width:100%;height:100%;" id="hidde_note<%= i %>">
                 <div class="hidde_note button" id="hidde_button<%= i %>">
                   <img src="/assets/img/timg.jpeg" style='width:80px;80px;', class="noprint">
                 </div>
               </div>
            </div>
          <% elsif i  == @tag.print_size %>
            <!--末行行尾!-->
            <div id="print_<%= i %>" style="width:<%= 98/@tag.print_x_size %>%;height:<%= 105/@tag.print_y_size %>%;float: left;">
              <%= render :partial => "print_#{@tag.tag_type_y}_#{@tag.tag_type_x}" , :locals => { :i => i,:chemical => @chemical,:chemical_property => chemical_property,:chemical_info_warnings => chemical_info_warnings }%>
              <div style="width:100%;height:100%;"  id="hidde_note<%= i %>"><div class="hidde_note button" id="hidde_button<%= i %>"><img src="/assets/img/timg.jpeg" style='width:80px;80px;', class="noprint"></div></div>
            </div>
            </div>
          <% elsif i % @tag.print_x_size == 0 %>
            <!--每行行尾!-->
            <div id="print_<%= i %>" style="width:<%= 98/@tag.print_x_size %>%;height:<%= 105/@tag.print_y_size %>%;float: left;">
              <%= render :partial => "print_#{@tag.tag_type_y}_#{@tag.tag_type_x}" , :locals => { :i => i,:chemical => @chemical,:chemical_property => chemical_property,:chemical_info_warnings => chemical_info_warnings }%>
              <div style="width:100%;height:100%;" id="hidde_note<%= i %>"><div class="hidde_note button" id="hidde_button<%= i %>"><img src="/assets/img/timg.jpeg" style='width:80px;80px;', class="noprint"></div></div>
            </div>
            </div>
            </br> <div>
          <% else %>
            <div id="print_<%= i %>" style="width:<%= 98/@tag.print_x_size %>%;height:<%= 105/@tag.print_y_size %>%;<%= @tag.id == 2 ? 'margin-left: 10px;' : 'margin-right: 10px;'%> float: left;">
              <%= render :partial => "print_#{@tag.tag_type_y}_#{@tag.tag_type_x}" , :locals => { :i => i,:chemical => @chemical,:chemical_property => chemical_property,:chemical_info_warnings => chemical_info_warnings }%>
              <div style="width:100%;height:100%;" id="hidde_note<%= i %>"><div class="hidde_note button" id="hidde_button<%= i %>"><img src="/assets/img/timg.jpeg" style='width:80px;80px;', class="noprint"></div></div>
            </div>
          <% end %>
       <% end %>
      </div>
     <% else %>
       <span class="red">注意：标签超出打印尺寸</span>
     <% end %>
   </div>
</div>


<script type="text/javascript">
  $(".show_note").on('click',function(){
    var id = this.id.replace ( /[^\d.]/g, '' )
    $('#show_note'+ id).hide();
    $('#hidde_note'+ id).show();
  });
  $(".hidde_note").on('click',function(){
    var id = this.id.replace ( /[^\d.]/g, '' )
    $('#hidde_note'+ id).hide();
    $('#show_note'+ id).show();
  });

  // 打印触发
  $("#btnPrint").on('click',function(){
    $(".noprint").css("display", "")
    window.print();
  })

  // 设置数量
  $('.J_quantity').dropdown({
      // 允许修改选择框的值
      allowAdditions: true,
      onChange: function(val) {
        var tag_id = $("#tag_id").val();
        var quantity = val;
        <% if params[:inventory_id].present? %>
          window.location.href = '/admin/tags/roll_print?tag_id='+tag_id+"&inventory_id="+"<%= @chemical_info[:from_id] %>"+"&quantity="+quantity ;
        <%elsif params[:order_detail_id].present?%>
          window.location.href = '/admin/tags/roll_print?tag_id='+tag_id+"&order_detail_id="+"<%= @chemical_info[:from_id] %>"+"&quantity="+quantity ;
        <%end%>
      }
  });

  // 切换标签
  $("#tag_id").on('change',function(){
    var tag_id = $("#tag_id").val();
    window.location.href = '/admin/tags/print?tag_id='+tag_id+"&id="+"<%= @id%>" ;
  })

  // 快速选择
  $("#select_tag").on('change',function(){
    var select_tag = $("#select_tag").val();
    if(select_tag==0){
     <% (1..@tag.print_size).each do |i|%>
       var id = "<%= i %>"
       $('#hidde_note'+ id).hide();
       $('#show_note'+ id).show();
     <% end %>
    }else if(select_tag==1){
     <% (1..@tag.print_size).each do |i|%>
       var id = "<%= i %>"
       $('#show_note'+ id).hide();
       $('#hidde_note'+ id).show();
     <% end %>
    }else if(select_tag==2){
     <% (1..(@tag.print_size/2)).each do |i|%>
       var id = "<%= i %>"
       $('#hidde_note'+ id).hide();
       $('#show_note'+ id).show();
     <% end %>
    }
  })

</script>
