<!DOCTYPE html>
<html>

<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 导入适合打印的css -->
    <!-- <link rel="stylesheet" type="text/css" href="./css/style.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" media="print" href="./css/style.css" /> -->
    <%= stylesheet_link_tag 'admin/application' %>
    <%= javascript_include_tag 'admin/application' %>
    <%= stylesheet_link_tag 'print' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    <style type="text/css" media="screen">
        .fz{
            margin-top: 264px;
            margin-left: -197px;
            -webkit-transform: rotate(90deg);
               -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                 -o-transform: rotate(90deg);
                    transform: rotate(90deg);
        }
        .fz.print2{
            height: auto;    
            font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
        }
        .fz.print2 .print_header .product_name{
            margin-left: 20px;
        }
        .fz.print2 .main{ 
            padding: 0;
        }
        .fz.print2 .quantity{
            margin-left:40px;
        }
        .fz.print2 .main .coa{
            margin-top: 20px;
        }
        .fz.print2 .footer{
            width: 100%;
        }
        .fz.print2 .main .coa .from .column{
            margin-bottom: 8px;
        }
        .fz.print2 .main .coa .from .column.pc{
            margin-top: 30px;
        }
        .fz.print2 .main .barCode{
            margin-top: 50px;
        }
       
        /*控制背景展示*/
        .fz .print_header{
            border-color: #fff;
        }
        .fz .print_header  img{
            display: none;
        }
        .fz .main .qr_code  img{
            display: none;
        }
        .fz .main .caution{
            display: none;
        }
        .fz .footer{
            display: none;}

    </style>
    <style type="text/css" media="print">
         .fz{
            margin-top: 264px;
            margin-left: -197px;
            -webkit-transform: rotate(90deg);
               -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                 -o-transform: rotate(90deg);
                    transform: rotate(90deg);
        }
        .fz.print2{
            height: auto;    
            font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
        }
        .fz.print2 .print_header .product_name{
            margin-left: 20px;
        }
        .fz.print2 .main{ 
            padding: 0;
        }
        .fz.print2 .quantity{
            margin-left:40px;
        }
        .fz.print2 .main .coa{
            margin-top: 20px;
        }
        .fz.print2 .footer{
            width: 100%;
        }
        .fz.print2 .main .coa .from .column{
            margin-bottom: 8px;
        }
        .fz.print2 .main .coa .from .column.pc{
            margin-top: 30px;
        }
        .fz.print2 .main .barCode{
            margin-top: 50px;
        }
       
        /*控制背景展示*/
        .fz .print_header{
            border-color: #fff;
        }
        .fz .print_header  img{
            display: none;
        }
        .fz .main .qr_code  img{
            display: none;
        }
        .fz .main .caution{
            display: none;
        }
        .fz .footer{
            display: none;}
    </style>

    <style type="text/css" media="print">
    .padding_top_80{margin-top:50px;}
    .noprint{display : none }
    .pageBreak{ page-break-after:always;}
    </style>
</head>
<body>

    <div class="ui form" style='z-index: 2;'>
        <div class="ui blue segment noprint">
          <h2 class="ui dividing header">标签打印设置</h2>
          <div class="two fields">
            <div class="field"><%= select_tag "tag_id", options_for_select([["6cm * 15cm",1]],@tag.id), class: 'ui fluid need_dropdown dropdown' %></div>
            <div class="field "><%= select_tag "quantity", options_for_select( %w(100g  250g 500g 500ml 1kg 1L 2.5L 5kg 5L 10kg 10L).unshift(@chemical_info[:quantity]).uniq, @chemical_info[:quantity]), include_blank: "选择数量", class: 'ui search fluid dropdown J_quantity' %></div>
            <div class="field"><input id="btnPrint" type="button" value="打印" class="ui primary button" /></div>
          </div>
        </div>
    </div>

    <div class="print2 fz">
        <header class="print_header">
            <div class="product_name">
                <p class="c_name"><%= @chemical_info[:name_cn] %></p>
                <p class="e_name"><%= @chemical_info[:name] %></p>
            </div>
            <%= image_tag "print/logo.png" %>
        </header>
        <div class="main">
            <div class="coa">
              <div class="from">
                <div class="column">
                    <div class="coa_ml">CAS号:<%= @chemical_info[:cas] %></div>
                    <div class="coa_mr">含量:<%= @chemical_info[:purity] %></div>
                </div>
                <div class="column">
                    <div class="coa_ml">分子式:<%= @chemical_info[:formula] %></div>
                    <div class="coa_mr">分子量:<%= @chemical_info[:molecular_weight] %></div>
                </div>
                <div class="column">
                  存储:<%= @chemical_info[:storage_temperature] %>
                </div>
                <div class="column pc">
                  批次号:<%= @chemical_info[:batch_no] %>
                </div>
                <% if @chemical_info[:chemical_info_warnings].present? %>
                <div class="danger">
                    <div class='text'>
                      <span>危险</span>
                    </div>
                    <% @chemical_info[:chemical_info_warnings].each do |warning| %>
                      <img src="/assets/GHS/<%= warning.code %>.png" class="danger_img" title="<%= warning.description_cn %>">
                    <% end %>
                </div>
                <% end %>
              </div>  
            </div>
            <div class="qr_code">
               <p class="quantity"><%= @chemical_info[:quantity] %></p>
               <img src="/assets/website/icons/weixin_er.jpg" alt="" />
            </div>
            <%= image_tag "print/ibar_2610.png", class:"barCode" %>
            <%= image_tag "print/text.jpg", class:"caution" %>
        </div>
        <%= image_tag "print/footer.jpg", class:"footer" %>
    </div>

    <script type="text/javascript">
        // 设置数量
        $('.J_quantity').dropdown({
            allowAdditions: true,
            onChange: function(val) {
              var tag_id = $("#tag_id").val();
              var quantity = val;
              <% if params[:inventory_id].present? %>
                window.location.href = '/admin/tags/roll_print?tag_id='+tag_id+"&inventory_id="+"<%= @chemical_info[:from_id] %>"+"&quantity="+quantity ;
              <%elsif params[:order_detail_id].present?%>
                window.location.href = '/admin/tags/roll_print?tag_id='+tag_id+"&order_detail_id="+"<%= @chemical_info[:from_id] %>"+"&quantity="+quantity ;
              <%end%>
            }
        });

        // 打印触发
          $("#btnPrint").on('click',function(){
            $(".noprint").css("display", "")
            window.print();
          })

        // 切换标签
          $("#tag_id").on('change',function(){
            var tag_id = $("#tag_id").val();
            var quantity = $("#quantity").val();
            <% if params[:inventory_id].present? %>
              window.location.href = '/admin/tags/roll_print?tag_id='+tag_id+"&inventory_id="+"<%= @chemical_info[:from_id] %>"+"&quantity="+quantity ;
            <%elsif params[:order_detail_id].present?%>
              window.location.href = '/admin/tags/roll_print?tag_id='+tag_id+"&order_detail_id="+"<%= @chemical_info[:from_id] %>"+"&quantity="+quantity ;
            <%end%>
          })  

    </script>

</body>

</html>
